USE [master]
GO
/****** Object:  Database [CMCS_DB]    Script Date: 11/21/2025 3:21:42 AM ******/
CREATE DATABASE [CMCS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMCS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CMCS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMCS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CMCS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMCS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMCS_DB]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 11/21/2025 3:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimID] [int] IDENTITY(1,1) NOT NULL,
	[LecturerID] [int] NOT NULL,
	[HoursWorked] [float] NOT NULL,
	[Amount] [float] NOT NULL,
	[SupportingDocumentPath] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[CoordinatorReview] [nvarchar](50) NULL,
	[ManagerReview] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[DateSubmitted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 11/21/2025 3:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[HourlyRate] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/21/2025 3:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([ClaimID], [LecturerID], [HoursWorked], [Amount], [SupportingDocumentPath], [Status], [CoordinatorReview], [ManagerReview], [Description], [DateSubmitted]) VALUES (1, 1, 20, 3000, NULL, N'Pending', N'Accepted', N'Rejected', N'Sample claim for testing', CAST(N'2025-11-18T21:38:04.973' AS DateTime))
INSERT [dbo].[Claims] ([ClaimID], [LecturerID], [HoursWorked], [Amount], [SupportingDocumentPath], [Status], [CoordinatorReview], [ManagerReview], [Description], [DateSubmitted]) VALUES (2, 1, 34, 5100, N'uploads\05d05a05-0006-480b-a63f-b1051d23a154_Supporting Documentation.pdf', N'Pending', N'Accepted', N'Accepted', N'drefderdr', CAST(N'2025-11-19T17:35:52.293' AS DateTime))
INSERT [dbo].[Claims] ([ClaimID], [LecturerID], [HoursWorked], [Amount], [SupportingDocumentPath], [Status], [CoordinatorReview], [ManagerReview], [Description], [DateSubmitted]) VALUES (3, 4, 67, 9715, N'uploads\05c09bf1-268b-43fe-a3b7-2c9d202d560a_Supporting Documentation.pdf', N'Pending', N'Further Verification', N'Accepted', N'sdfgsdfsedewdf', CAST(N'2025-11-21T02:50:59.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturers] ON 

INSERT [dbo].[Lecturers] ([LecturerID], [UserID], [Name], [Surname], [Email], [HourlyRate]) VALUES (1, 2, N'John', N'Doe', N'john.doe@cmcs.com', 150)
INSERT [dbo].[Lecturers] ([LecturerID], [UserID], [Name], [Surname], [Email], [HourlyRate]) VALUES (2, 13, N'ytrty', N'', N'remo@gmail.com', 0)
INSERT [dbo].[Lecturers] ([LecturerID], [UserID], [Name], [Surname], [Email], [HourlyRate]) VALUES (3, 14, N'tanya', N'', N'tanya@cmcs.com', 0)
SET IDENTITY_INSERT [dbo].[Lecturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role]) VALUES (1, N'Admin HR', N'hr@cmcs.com', N'nothando', N'HR')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role]) VALUES (2, N'John Doe.', N'john.doe@cmcs.com', N'nono1', N'Lecturer')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role]) VALUES (3, N'thando', N'thando@cmcs.com', N'GyRbumsmpfO+IAJLFTT+WFSZnpYlS/Lu4UPQRSa1OJg=', N'Lecturer')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Lecturer__1788CCAD7CBD1A4D]    Script Date: 11/21/2025 3:21:42 AM ******/
ALTER TABLE [dbo].[Lecturers] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345709D7CD]    Script Date: 11/21/2025 3:21:42 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ('Pending') FOR [CoordinatorReview]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ('Pending') FOR [ManagerReview]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (getdate()) FOR [DateSubmitted]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claim_Lecturer] FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturers] ([LecturerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claim_Lecturer]
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD  CONSTRAINT [FK_Lecturer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lecturers] CHECK CONSTRAINT [FK_Lecturer_User]
GO
USE [master]
GO
